@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Afacad-Regular';
    src: url('./fonts/Afacad/Afacad-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}